{:source-paths ["src"]
 :dependencies [[rewrite-clj/rewrite-clj "1.1.47"]]
 :builds {:node {:target :node-script
                 :main cljs-patrol.node/-main
                 :output-to "cljs-patrol.js"}}}
